<div class="container well">
	<h1>Edit This Movie</h1>
	<div id="edit-form">
		<%= form_for (@movie) do |f| %>
			<%= f.label :title %>
			<%= f.text_field :title %><br><br>

			<%= f.label :note, "Note" %>
			<%= f.text_area :note %><br><br>

			<%= f.label :tag_list, 'Tags (separated by commas)' %>
	    <%= f.text_field :tag_list, value: f.object.tag_list.to_s %>

			<%= f.submit "Update Movie", class: "btn btn-success" %>
		<% end %>
	</div>
</div>
